@model IEnumerable<NutriBem.Models.Comentario>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid px-5">

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4 pt-4 mt-4">Diário Alimentar</h1>
        </div>
    </div>


    <div class="row">
        @foreach (var comentario in Model)
        {
            <div class="col-md-8 offset-md-2 mb-4">
                <div class="card shadow p-4" style="border-color: #95B963;">
                    <div class="d-flex justify-content-between">

                        <div>
                            <span class="fw-bold" style="color: #95B963;">@comentario.Nome</span>
                            <br />
                            <small class="text-muted">@comentario.DataHora.ToString("dd/MM/yyyy HH:mm")</small>
                        </div>

                        <div>
                            <a asp-action="Edit" asp-route-id="@comentario.Id"
                               class="btn btn-sm me-2"
                               style="background-color: #95B963; border-color: #95B963; color: black; font-weight: bold;">Editar</a>
                            <a asp-action="Delete" asp-route-id="@comentario.Id"
                               class="btn btn-sm btn-danger"
                               style="color: black; font-weight: bold;">Deletar</a>
                        </div>
                    </div>

                    <hr style="border-color: #95B963;" />
                    <p class="mb-0">@comentario.Conteudo</p>
                </div>
            </div>
        }
    </div>


    <div class="row">
        <div class="col-md-8 offset-md-2 mb-4">
            <a class="btn" style="background-color: #95B963; border-color: #95B963; color: black; font-weight: bold;" asp-action="Create">Adicionar Anotação</a>
        </div>
    </div>
</div>
