@model IEnumerable<NutriBem.Models.Comentario>

@{
    ViewData["Title"] = "Index";
}

<h1>Diário Alimentar</h1>

<a asp-action="Create" class="btn btn-primary">Adicionar Anotação</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data e Hora</th>
            <th>Conteúdo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comentario in Model)
        {
            <tr>
                <td>@comentario.Nome</td>
                <td>@comentario.DataHora.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@comentario.Conteudo</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@comentario.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@comentario.Id" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
