@model NutriBem.Models.PlanoAlimentar

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-4 pt-4 ps-5">Deletar Plano Alimentar</h1>

<h3 class="ps-5 mb-4">Tem certeza de que deseja deletar este Plano Alimentar?</h3>

<div class="container-fluid px-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card p-4" style="border-color: #95B963;">

                <div class="mb-4 text-center">
                    <span class="fs-4 fw-bold" style="color: #95B963;">@Html.DisplayFor(model => model.Nome)</span>
                </div>

                <div class="mb-3">
                    <hr style="border-color: #95B963;" />
                    <dl class="row">
                        <dt class="col-sm-3 fw-bold">Nome do Paciente</dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Nomepaciente)
                        </dd>
                    </dl>
                </div>

                <div class="mb-3">
                    <hr style="border-color: #95B963;" />
                    <dl class="row">
                        <dt class="col-sm-3 fw-bold">Objetivo</dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Objetivo)
                        </dd>
                    </dl>
                </div>

                <div class="mb-3">
                    <hr style="border-color: #95B963;" />
                    <dl class="row">
                        <dt class="col-sm-3 fw-bold">Descrição</dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>
                </div>

                <div class="mb-3">
                    <hr style="border-color: #95B963;" />
                    <dl class="row">
                        <dt class="col-sm-3 fw-bold">Observação</dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Observacao)
                        </dd>
                    </dl>
                </div>
            </div>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="d-flex justify-content-between mt-4">
                    <a class="btn" style="background-color: #95B963; border-color: #95B963; color: black; font-weight: bold;" asp-action="Index">Voltar</a>
                    <input type="submit" value="Deletar" class="btn btn-danger" style="font-weight: bold; color: black;" />
                </div>
            </form>
        </div>
    </div>
</div>
