@model IEnumerable<NutriBem.Models.PlanoAlimentar>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="container">
        <h1 class="mb-4">Planos Alimentares</h1>

        <div class="accordion" id="accordionReceitas">
            @foreach (var item in Model)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-@item.Id">
                        <button class="accordion-button collapsed"
                                style="background-color: #95B963; color: black; font-weight: bold;"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-@item.Id"
                                aria-expanded="false"
                                aria-controls="collapse-@item.Id">
                            @item.Nome - @item.Nomepaciente
                        </button>
                    </h2>
                    <div id="collapse-@item.Id" class="accordion-collapse collapse"
                         aria-labelledby="heading-@item.Id"
                         data-bs-parent="#accordionReceitas">
                        <div class="accordion-body" style="background-color: #D2ECCF; color: black;">
                            <p><strong>Nome do Paciente:</strong> @item.Nomepaciente</p>
                            <p><strong>Objetivo:</strong> @item.Objetivo</p>
                            <p><strong>Descrição:</strong> @item.Descricao</p>
                            <p><strong>Observação:</strong> @item.Observacao</p>
                            @{
                                if (User.IsInRole("nutricionista"))
                                {
                                    <div class="d-flex justify-content-start">
                                        <a class="btn" style="background-color: #95B963; border-color: #95B963; color: black; margin-right: 10px; font-weight: bold;" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                        <a class="btn" style="background-color: #95B963; border-color: #95B963; color: black; margin-right: 10px; font-weight: bold;" asp-action="Details" asp-route-id="@item.Id">Visualizar</a>
                                        <a class="btn btn-danger" style="color: black; margin-right: 10px; font-weight: bold;" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                                    </div>
                                }
                                else
                                {
                                   <div class="d-flex justify-content-start">
                                        <a class="btn" style="background-color: #95B963; border-color: #95B963; color: black; margin-right: 10px; font-weight: bold;" asp-action="Details" asp-route-id="@item.Id">Visualizar</a>
                                    </div> 
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

        @{
            if (User.IsInRole("nutricionista"))
            {
                <div class="d-flex justify-content-start mt-3">
                    <a class="btn" style="background-color: #95B963; border-color: #95B963; color: black; font-weight: bold;" asp-action="Create">Novo Plano Alimentar</a>
                </div>
            } 
        }
    </div>
</div>